.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header {
  background-color: #524491;
}
.header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}
.header .sprite {
  background-image: url(../img/networks.png);
  background-repeat: no-repeat;
  display: block;
}
.header .sprite-facebook {
  width: 7px;
  height: 14px;
  background-position: -5px -5px;
}
.header .sprite-instagram {
  width: 13px;
  height: 14px;
  background-position: -22px -5px;
}
.header .sprite-phone {
  width: 24px;
  height: 30px;
  background-position: -45px -5px;
}
.header .sprite-vk {
  width: 17px;
  height: 10px;
  background-position: -5px -45px;
}
.header .sprite-youtube {
  width: 16px;
  height: 12px;
  background-position: -32px -45px;
  margin-right: 20px;
}
.header__networks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__networks a {
  margin-right: 23px;
}
.header__lang-switch {
  background-color: #423674;
  border-radius: 20px;
}
.header__lang-switch label {
  float: left;
  height: 16px;
}
.header__lang-switch label span {
  text-align: center;
  display: block;
  padding: 3px 0;
  width: 40px;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
}
.header__lang-switch label input {
  display: none;
}
.header__lang-switch input:checked + span {
  background: #fff;
  color: #524491;
  border-radius: 20px;
}
.header__logo {
  position: absolute;
  left: 50%;
  margin-left: -142px;
}
.header__number {
  position: absolute;
  right: 0;
}
.header__number a {
  position: relative;
  padding-left: 26px;
  left: -14px;
  display: inline-block;
  color: #fff;
  font-family: 'BlissPro';
  font-weight: 600;
  font-size: 17px;
  line-height: 1.059;
}
.header__number span {
  color: #a9a2c6;
}
.header__number i {
  position: absolute;
  top: -5px;
  left: -6px;
}
nav {
  background-color: #524491;
  position: relative;
}
nav .line {
  background-image: url(../img/line.png);
  background-repeat: repeat-x;
  background-position: bottom;
  position: relative;
  bottom: -6px;
  z-index: 2;
  height: 6px;
}
.navigation-xs {
  display: none;
}
.navigation {
  list-style: none;
  height: 45px;
  padding-left: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navigation .sprite {
  background-image: url(../img/navigation.png);
  background-repeat: no-repeat;
  display: block;
}
.navigation .sprite-calendar {
  width: 28px;
  height: 34px;
  background-position: -5px -5px;
}
.navigation .sprite-candle {
  width: 28px;
  height: 32px;
  background-position: -43px -5px;
}
.navigation .sprite-heart {
  width: 29px;
  height: 25px;
  background-position: -43px -47px;
}
.navigation .sprite-place {
  width: 24px;
  height: 28px;
  background-position: -81px -5px;
}
.navigation .sprite-rocking {
  width: 31px;
  height: 29px;
  background-position: -82px -43px;
}
.navigation .sprite-turkey {
  width: 33px;
  height: 25px;
  background-position: -5px -82px;
}
.navigation li {
  display: inline-block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation li i {
  margin-right: 5px;
}
.navigation li a {
  color: #fff;
  font-size: 20px;
  font-family: 'BlissPro';
  font-weight: bold;
}
.navigation li:nth-child(3) i {
  margin-top: 6px;
}
.main-slider {
  position: relative;
}
.main-slider .item img:first-child {
  display: none;
}
.main-slider__text {
  position: absolute;
  left: 55%;
  top: 30%;
}
.main-slider__text h1,
.main-slider__text h4 {
  color: #fff;
}
.main-slider__text h1 {
  font-family: 'BlissProHeavy';
  font-size: 7rem;
  font-weight: 900;
  line-height: 0.9;
  margin-bottom: 18px;
}
.main-slider__text h4,
.main-slider__text a {
  font-family: 'BlissPro';
  margin-bottom: 25px;
}
.main-slider__text a {
  font-size: 1.4rem;
  color: #ffcb1a;
  font-weight: 600;
}
.main-slider .owl-prev,
.main-slider .owl-next {
  position: absolute;
  bottom: 50%;
  color: #FFF;
  margin: 5px;
  padding: 35px 35px;
  background: #ffcb1a;
  display: inline-block;
  cursor: pointer;
  border-radius: 60px;
  border: 5px solid #fff;
}
.main-slider .owl-next {
  right: 10px;
  margin-bottom: -35px;
}
.main-slider .owl-next:hover {
  background: #869791;
}
.main-slider .owl-next:after {
  content: '';
  position: absolute;
  background-image: url(../img/blik.png);
  z-index: 3;
  height: 20px;
  width: 45px;
  left: 15px;
  top: 6px;
}
.main-slider .owl-next:before {
  content: '';
  position: absolute;
  right: 28px;
  top: 24px;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 5px solid #fff;
  border-top: none;
  border-right: none;
  -webkit-transform: rotateZ(225deg);
          transform: rotateZ(225deg);
}
.main-slider .owl-prev {
  left: 10px;
  margin-bottom: -35px;
}
.main-slider .owl-prev:hover {
  background: #869791;
}
.main-slider .owl-prev:after {
  content: '';
  position: absolute;
  background-image: url(../img/blik.png);
  z-index: 3;
  height: 20px;
  width: 45px;
  left: 15px;
  top: 6px;
}
.main-slider .owl-prev:before {
  content: '';
  position: absolute;
  left: 28px;
  top: 24px;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 5px solid #fff;
  border-top: none;
  border-right: none;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.main-slider .owl-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -60px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.main-slider .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.main-slider .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 10px;
  border: 2px solid #fff;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
          transition: opacity 200ms ease;
  border-radius: 30px;
}
.main-slider .owl-dots .owl-dot.active span,
.main-slider .owl-dots .owl-dot:hover span {
  background: #ffbc1a;
}
.main-content__images_sm {
  display: none;
}
.main-content {
  background: #e3ebef;
  padding-bottom: 25px;
}
.main-content img {
  max-width: 100%;
}
.main-content__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin: 20px 0;
}
.main-content__title_style {
  position: absolute;
  top: 30px;
}
.main-content__title_style h1 {
  line-height: 0.5;
  text-align: center;
  font-size: 5rem;
}
.main-content__title_style h1:first-child {
  font-family: 'BadScriptRegular';
  color: #ffbc1a;
}
.main-content__title_style h1:last-child {
  font-family: 'BlissProHeavy';
  text-transform: uppercase;
  color: #524491;
}
.main-content__images_item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}
.main-content__images_text {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-content__images_text h1 {
  line-height: 0.1;
}
.main-content__images_text h1:first-child {
  font-family: 'BadScriptRegular';
  color: #fff962;
}
.main-content__images_text h1:last-child {
  font-family: 'BlissProHeavy';
  text-transform: uppercase;
  color: #fff;
}
.main-content__images_left,
.main-content__images_right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-content__images_left {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.main-content__images_left .main-content__images_item:first-child h1:first-child {
  color: #0586ff;
}
.main-content__images_left .main-content__images_item:first-child h1:last-child {
  color: #524491;
}
.main-content__images_right {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.main-content__images_right .main-content__images_item:nth-child(2) h1:first-child {
  color: #28daf2;
}
.main-content__images_right .main-content__images_item:nth-child(2) h1:last-child {
  color: #fff;
}
.main-content__images-sm {
  display: none;
}
.slider-title {
  margin: 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slider-title h1 {
  line-height: 0.05;
}
.slider-title h1:first-child {
  font-family: 'BadScriptRegular';
  color: #ffbc1a;
}
.slider-title h1:last-child {
  font-family: 'BlissProHeavy';
  text-transform: uppercase;
  color: #524491;
}
.second-slider {
  margin-bottom: 80px;
}
.second-slider__style {
  position: relative;
}
.second-slider__style_date {
  position: relative;
  background-color: #ff6969;
  color: #fff;
  width: 45%;
  font-style: italic;
  margin: 20px 0 10px 0;
  padding-left: 10px;
}
.second-slider__style_date:after {
  content: ' ';
  position: absolute;
  width: 30px;
  height: 10px;
  right: 0;
  top: 0px;
  border-width: 10px 10px;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
}
.second-slider__style_title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #524491;
  font-family: 'BlissProHeavy';
  line-height: 1;
}
.second-slider__style_text {
  font-family: 'BlissPro';
  font-size: 1.4rem;
  width: 80%;
  line-height: 1.3;
}
.second-slider__style .owl-prev,
.second-slider__style .owl-next {
  margin-top: 20px;
  border: 4px solid #ffbc1a;
  border-radius: 100px;
  padding: 20px 20px;
  color: #ffbc1a;
}
.second-slider__style .owl-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.second-slider__style .owl-prev {
  position: relative;
  margin-right: 7px;
}
.second-slider__style .owl-prev:before {
  content: '';
  position: absolute;
  left: 15px;
  top: 12px;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 4px solid #ffbc1a;
  border-top: none;
  border-right: none;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.second-slider__style .owl-next {
  margin-left: 7px;
  position: relative;
}
.second-slider__style .owl-next:before {
  content: '';
  position: absolute;
  right: 15px;
  top: 12px;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 4px solid #ffbc1a;
  border-top: none;
  border-right: none;
  -webkit-transform: rotateZ(225deg);
          transform: rotateZ(225deg);
}
footer {
  background: #524491;
}
footer .line {
  background-image: url(../img/line2.png);
  background-repeat: repeat-x;
  background-position: top;
  position: relative;
  top: -6px;
  z-index: 2;
  height: 6px;
}
footer .footer {
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'BlissPro';
}
footer .footer__logo {
  color: #867cb2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer__logo img {
  width: 122px;
}
footer .footer__address {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer__address span:first-child {
  color: #bab6cf;
  font-size: 1.3rem;
}
footer .footer__address span:last-child {
  color: #fff;
  font-size: 1.5rem;
}
footer .footer__numbers {
  position: relative;
  top: -10px;
}
footer .footer__numbers img {
  position: absolute;
  left: -30px;
  top: 0px;
}
footer .footer__numbers a {
  color: #a9a2c6;
  text-decoration: none;
}
footer .footer__numbers a span {
  color: #fff;
}
footer .footer__numbers_email {
  position: relative;
  padding-left: 25px;
}
footer .footer__numbers_email img {
  position: absolute;
  left: 0px;
  top: 3px;
}
@media (max-width: 1199px) {
  header {
    background-color: #524491;
  }
  .header {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
  }
  .header .sprite {
    background-image: url(../img/networks.png);
    background-repeat: no-repeat;
    display: block;
  }
  .header .sprite-facebook {
    width: 7px;
    height: 14px;
    background-position: -5px -5px;
  }
  .header .sprite-instagram {
    width: 13px;
    height: 14px;
    background-position: -22px -5px;
  }
  .header .sprite-phone {
    width: 24px;
    height: 30px;
    background-position: -45px -5px;
  }
  .header .sprite-vk {
    width: 17px;
    height: 10px;
    background-position: -5px -45px;
  }
  .header .sprite-youtube {
    width: 16px;
    height: 12px;
    background-position: -32px -45px;
    margin-right: 20px;
  }
  .header__networks {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__networks a {
    margin-right: 23px;
  }
  .header__lang-switch {
    background-color: #423674;
    border-radius: 20px;
  }
  .header__lang-switch label {
    float: left;
    height: 16px;
  }
  .header__lang-switch label span {
    text-align: center;
    display: block;
    padding: 3px 0;
    width: 40px;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
  }
  .header__lang-switch label input {
    display: none;
  }
  .header__lang-switch input:checked + span {
    background: #fff;
    color: #524491;
    border-radius: 20px;
  }
  .header__logo {
    position: absolute;
    left: 50%;
    margin-left: -142px;
  }
  .header__number {
    position: absolute;
    right: 0;
  }
  .header__number a {
    position: relative;
    padding-left: 26px;
    left: -14px;
    display: inline-block;
    color: #fff;
    font-family: 'BlissPro';
    font-weight: 600;
    font-size: 17px;
    line-height: 1.059;
  }
  .header__number span {
    color: #a9a2c6;
  }
  .header__number i {
    position: absolute;
    top: -5px;
    left: -6px;
  }
  .main-slider__text {
    top: 25%;
  }
  .main-slider__text h1 {
    font-size: 5rem;
  }
  .main-slider__text h4 {
    margin-bottom: 10px;
    font-size: 1.6rem;
  }
  .main-slider__text a {
    font-size: 1.3rem;
  }
}
.main-content {
  height: auto;
}
.main-content__images img {
  max-width: 100%;
}
.main-content__images h1 {
  font-size: 3.5rem;
}
.main-content__title_style {
  position: absolute;
  top: 40px;
}
.main-content__title_style h1 {
  line-height: 0.5;
  text-align: center;
  font-size: 4rem;
}
.main-content__title_style h1:first-child {
  font-family: 'BadScriptRegular';
  color: #ffbc1a;
}
.main-content__title_style h1:last-child {
  font-family: 'BlissProHeavy';
  text-transform: uppercase;
  color: #524491;
}
@media (max-width: 991px) {
  header {
    background-color: #524491;
  }
  .header {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
  }
  .header .sprite {
    background-image: url(../img/networks.png);
    background-repeat: no-repeat;
    display: block;
  }
  .header .sprite-facebook {
    width: 7px;
    height: 14px;
    background-position: -5px -5px;
  }
  .header .sprite-instagram {
    width: 13px;
    height: 14px;
    background-position: -22px -5px;
  }
  .header .sprite-phone {
    width: 24px;
    height: 30px;
    background-position: -45px -5px;
  }
  .header .sprite-vk {
    width: 17px;
    height: 10px;
    background-position: -5px -45px;
  }
  .header .sprite-youtube {
    width: 16px;
    height: 12px;
    background-position: -32px -45px;
    margin-right: 0px;
  }
  .header__networks {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__networks a {
    margin-right: 15px;
  }
  .header__lang-switch {
    background-color: #423674;
    border-radius: 20px;
  }
  .header__lang-switch label {
    float: left;
    height: 16px;
  }
  .header__lang-switch label span {
    text-align: center;
    display: block;
    padding: 3px 0;
    width: 40px;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
  }
  .header__lang-switch label input {
    display: none;
  }
  .header__lang-switch input:checked + span {
    background: #fff;
    color: #524491;
    border-radius: 20px;
  }
  .header__logo {
    position: absolute;
    left: 50%;
    margin-left: -142px;
  }
  .header__number {
    position: absolute;
    right: 0;
  }
  .header__number a {
    position: relative;
    padding-left: 26px;
    left: -14px;
    display: inline-block;
    color: #fff;
    font-family: 'BlissPro';
    font-weight: 600;
    font-size: 17px;
    line-height: 1.059;
  }
  .header__number span {
    color: #a9a2c6;
  }
  .header__number i {
    position: absolute;
    top: -5px;
    left: -6px;
  }
  .navigation .sprite {
    display: none;
  }
  .main-slider__text h1 {
    font-size: 4rem;
  }
  .main-slider__text h4 {
    margin-bottom: 10px;
    font-size: 1.6rem;
  }
  .main-slider__text a {
    font-size: 1.3rem;
  }
  .main-content__images h1 {
    font-size: 3.2rem;
  }
  footer {
    background: #524491;
  }
  footer .line {
    background-image: url(../img/line2.png);
    background-repeat: repeat-x;
    background-position: top;
    position: relative;
    top: -6px;
    z-index: 2;
    height: 6px;
  }
  footer .footer__numbers {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    top: -10px;
  }
  footer .footer__numbers img {
    display: none;
  }
  footer .footer__numbers a:nth-child(2) span:nth-child(2) {
    display: none;
  }
  footer .footer__numbers_email {
    position: relative;
    padding-left: 25px;
    left: 25px;
  }
  footer .footer__numbers_email img {
    position: absolute;
    display: block;
    left: 0px;
    top: 3px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0;
  }
  .header {
    height: 80px;
    background: -webkit-linear-gradient(top, #352967 25px, #524491 25px);
    background: linear-gradient(to bottom, #352967 25px, #524491 25px);
  }
  .header__networks {
    display: none;
  }
  .header__lang-switch {
    position: absolute;
    left: 0;
    top: 2px;
    background-color: #352967;
    border-radius: 0px;
  }
  .header__lang-switch label {
    float: left;
    height: 16px;
  }
  .header__lang-switch label span {
    text-align: center;
    display: block;
    padding: 3px 0;
    width: 40px;
    color: #534594;
    font-size: 11px;
    font-weight: bold;
  }
  .header__lang-switch label input {
    display: none;
  }
  .header__lang-switch input:checked + span {
    background: #352967;
    color: #fff;
    border-radius: 0px;
  }
  .header__number {
    position: absolute;
    right: 0;
    top: 2px;
  }
  .header__number .sprite {
    display: none;
  }
  .header__number a {
    font-size: 14px;
  }
  .header__logo {
    position: absolute;
    top: 32px;
    left: 149px;
  }
  .header__logo img {
    height: 40px;
  }
  .header__navigation-xs {
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 27px;
  }
  .header__navigation-xs span {
    position: absolute;
    right: 10px;
    top: -3px;
  }
  .header__navigation-xs span,
  .header__navigation-xs span:before,
  .header__navigation-xs span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 35px;
    background: #fecb1a;
    position: absolute;
    display: block;
    content: '';
  }
  .header__navigation-xs span:before {
    top: -8px;
  }
  .header__navigation-xs span:after {
    bottom: -8px;
  }
  .navigation {
    display: none;
  }
  .hide {
    display: none;
  }
  .navigation-xs {
    width: 200px;
    background-color: #23194b;
    position: absolute;
    height: 550px;
    right: 0;
    top: -79px;
    list-style: none;
    padding-left: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 3;
  }
  .navigation-xs__close {
    position: absolute;
    color: #fecd1b;
    left: -40px;
    top: 20px;
    font-size: 40px;
  }
  .navigation-xs .sprite {
    background-image: url(../img/navigation.png);
    background-repeat: no-repeat;
    display: block;
  }
  .navigation-xs .sprite-calendar {
    width: 28px;
    height: 34px;
    background-position: -5px -5px;
  }
  .navigation-xs .sprite-candle {
    width: 28px;
    height: 32px;
    background-position: -43px -5px;
  }
  .navigation-xs .sprite-heart {
    width: 29px;
    height: 25px;
    background-position: -43px -47px;
  }
  .navigation-xs .sprite-place {
    width: 24px;
    height: 28px;
    background-position: -81px -5px;
  }
  .navigation-xs .sprite-rocking {
    width: 31px;
    height: 29px;
    background-position: -82px -43px;
  }
  .navigation-xs .sprite-turkey {
    width: 33px;
    height: 25px;
    background-position: -5px -82px;
  }
  .navigation-xs li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    font-family: 'BlissPro';
    font-weight: bold;
    font-size: 16px;
  }
  .navigation-xs li .sprite {
    width: 30px;
    margin-right: 10px;
  }
  .navigation-xs li .sprite-place {
    margin-left: 4px;
    margin-right: 6px;
  }
  .navigation-xs li a {
    color: #fff;
  }
  .navigation-xs__networks {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
    padding-left: 10px;
  }
  .navigation-xs__networks .sprite {
    background-image: url(../img/networks.png);
    background-repeat: no-repeat;
    display: block;
  }
  .navigation-xs__networks .sprite-facebook {
    width: 7px;
    height: 14px;
    background-position: -5px -5px;
  }
  .navigation-xs__networks .sprite-instagram {
    width: 13px;
    height: 14px;
    background-position: -22px -5px;
  }
  .navigation-xs__networks .sprite-phone {
    width: 24px;
    height: 30px;
    background-position: -45px -5px;
  }
  .navigation-xs__networks .sprite-vk {
    width: 17px;
    height: 10px;
    background-position: -5px -45px;
  }
  .navigation-xs__networks .sprite-youtube {
    width: 16px;
    height: 12px;
    background-position: -32px -45px;
    margin-right: 20px;
  }
  .navigation-xs__networks a {
    margin-right: 25px;
  }
  .main-slider .item {
    height: auto;
  }
  .main-slider .item img:first-child {
    display: block;
  }
  .main-slider .item img:nth-child(2) {
    display: none;
  }
  .main-slider .item .main-slider__text {
    left: 10px;
    top: 15%;
  }
  .main-slider .owl-prev,
  .main-slider .owl-next {
    bottom: 10px;
    margin: 5px;
    padding: 18px 18px;
    border-radius: 60px;
    border: 3px solid #ffffff;
  }
  .main-slider .owl-prev {
    left: 107px;
  }
  .main-slider .owl-prev:after {
    display: none;
  }
  .main-slider .owl-prev:before {
    left: 13px;
    top: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  .main-slider .owl-next {
    right: 107px;
  }
  .main-slider .owl-next:after {
    display: none;
  }
  .main-slider .owl-next:before {
    right: 13px;
    top: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    -webkit-transform: rotateZ(225deg);
            transform: rotateZ(225deg);
  }
  .main-content__title {
    overflow: hidden;
  }
  .main-content__title img {
    height: 100px;
  }
  .main-content__title_style {
    top: 10px;
  }
  .main-content__title_style h1 {
    font-size: 3rem;
  }
  .main-content__images {
    display: none;
  }
  .main-content__images-sm {
    display: block;
  }
  .main-content {
    padding: 0;
  }
  .main-content img {
    max-width: 100%;
  }
  .main-content__images-sm_item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-content__images-sm_text {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-content__images-sm_text h1 {
    line-height: 0.05;
    font-size: 3rem;
  }
  .main-content__images-sm_text h1:first-child {
    font-family: 'BadScriptRegular';
    color: #fff962;
  }
  .main-content__images-sm_text h1:last-child {
    font-family: 'BlissProHeavy';
    text-transform: uppercase;
    color: #fff;
  }
  .second-slider {
    margin-bottom: 40px;
  }
  .second-slider__style {
    position: relative;
    padding: 0 10px;
  }
  .second-slider__style img {
    max-width: 400px;
  }
  .second-slider__style_title {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #524491;
    font-family: 'BlissProHeavy';
    line-height: 1;
  }
  .second-slider__style_text {
    font-family: 'BlissPro';
    font-size: 1.4rem;
    width: 80%;
    line-height: 1.3;
  }
  .second-slider__style .owl-prev,
  .second-slider__style .owl-next {
    margin-top: 20px;
    border: 4px solid #ffbc1a;
    border-radius: 100px;
    padding: 20px 20px;
    color: #ffbc1a;
  }
  .second-slider__style .owl-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .second-slider__style .owl-prev {
    margin-right: 7px;
  }
  .second-slider__style .owl-next {
    margin-left: 7px;
  }
  footer .footer {
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .footer__address,
  footer .footer__numbers,
  footer .footer__logo {
    border-bottom: 1px solid #4d3f8c;
    width: 94%;
    padding: 10px 0 10px 10px;
  }
  footer .footer__numbers {
    padding: 20px 0 10px 10px;
    border-bottom: none;
  }
  footer .footer__address {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer__address span:first-child {
    color: #bab6cf;
    font-size: 1.3rem;
  }
  footer .footer__address span:last-child {
    color: #fff;
    font-size: 1.5rem;
  }
  footer .footer__numbers {
    position: relative;
    top: -10px;
    display: block;
  }
  footer .footer__numbers a:nth-child(2) span:nth-child(2) {
    display: inline-block;
  }
  footer .footer__numbers_email {
    position: relative;
    padding-left: 0px;
  }
  footer .footer__numbers_email img {
    position: absolute;
    left: -25px;
    top: 3px;
  }
}
